# Webhook des Discord Kanals
webhook_url:https://discord.com/api/webhooks/1412321293222674515/Ee6fjp9_Zp5p7tzi9Y1MNfn_myN-qo4E6VTdxWsnjWdGAgAkjU4R5yI1b6YCxdZ_cpwi
# URL des XML-Webservers
url:https://sensdesk.at/sensdesk/user/898/values.xml?values_xml_key=dfbkSLU74ZhtPg_7wG8YktPN-xpfEs8VMF-mYJwpaO8
# Log Datei Ganzer Pfad
MyLogFile:C:\tmp\jaylog.txt
# Logfile Schreiben j oder y = Ja sonst wird kein Logfile Geschrieben
writelog:n
